@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap'); 
body{
     font-family: Notable;
     background-image:url("background-trippy.gif");
     background-size: 2000px;
    background-position: center;
    background-repeat: no-repeat;
 }
 
 h1 {
    text-align: center;
    font-size: 100px;
}

.submit {
    text-align: center;

}

.footing {  text-align: center;
    margin-top: 300px;
    font-weight: lighter;
    color: slategrey;
    font-family: sans-serif;
    text-decoration: underline;
    text-decoration-color: grey;
    }

.ball {
    
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
      
}

.cue {
    
    background-color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: -275px;
}

.answer {
    font-family: Odibee Sans;
    padding: 23px;
    color:whitesmoke;
    text-align: center;
    font-size:25px;
    margin-top: -145px;
}

input {
    font-size: 25px;
    border-radius: 50px;
}

input:focus {
    background-color: lightblue;
    outline: none;
  }

  .enterButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.enterButton{
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.enterButton:active {
	position:relative;
	top:1px;
}

.enterButton:focus {
    outline: none;
}